# This is used in the context of SSR and node-fetch
# Must be fully qualified, so more "localhost" or "10.10.10.10" vs "/"
NEXT_PUBLIC_BASEURL=localhost:3000
NEXT_PUBLIC_IS_LOCAL=false

GCLOUD_PROJECT_ID=""
GCLOUD_ENCRYPTION_IV=""
GCLOUD_ENCRYPTION_KEY=""
# https://www.devglan.com/online-tools/aes-encryption-decryption -> CBC -> 128 -> IV -> KEY
GCLOUD_CREDENTIALS=""

# MAKE THIS SECURE
DB_PASSWORD_SALT=1
JWT_KEY="change_me"
# 7 days
JWT_EXPIRES=604800